@model IEnumerable<MongoDBCRUD.Models.User>

@{
    ViewData["Title"] = "User Details";
}

<h2>User Details</h2>

<p>
    <a asp-action="Create">Add New User</a>

    <form asp-controller="Users" asp-action="Index" method="get">
<p>
    <b>Age Range:</b> 0<input type="range" name="ageFilter" min="0" max="60" step="1"
                              oninput="document.getElementById('ageFilter').innerHTML = this.value">60
    <b style="color:blue"><label id="ageFilter"></label></b> &nbsp;&nbsp;
    <b>Home State:</b> <input type="text" name="stateFilter" placeholder="NJ,NY,WA,NV" size="15" />
    <input type="submit" value="Filter" class="btn-create" />
</p>
</form>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5">No rows match the search criteria. You may navigate <a asp-action="Index">Back to List</a></td>
        </tr>
    }
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kids.Count) &nbsp;

                    @if (item.Kids.Count != 0)
                    {
                        @foreach (var kid in item.Kids)
                        {
                            @Html.DisplayFor(modelItem => kid.firstName) @Html.Raw("&nbsp;")
                            @Html.DisplayFor(modelItem => kid.lastName) @Html.Raw("&nbsp;")
                            @Html.DisplayFor(modelItem => kid.age) @Html.Raw("&nbsp;")
                        }
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => 0)
                    }

                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Home)*@

                    @foreach (var homedetails in item.Home)
                    {
                        @Html.DisplayFor(modelItem => homedetails.homeType) @Html.Raw("&nbsp;")
                        @Html.DisplayFor(modelItem => homedetails.address) @Html.Raw("&nbsp;")
                        @Html.DisplayFor(modelItem => homedetails.state) @Html.Raw("&nbsp;")
                        @Html.DisplayFor(modelItem => homedetails.zipcode) @Html.Raw("&nbsp;")
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
